@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-light-rgb: 0, 0, 0;
  --foreground-dark-rgb: 255, 255, 255;
  --background-start-light-rgb: 214, 219, 220;
  --background-end-light-rgb: 255, 255, 255;
  --background-start-dark-rgb: 0, 0, 0;
  --background-end-dark-rgb: 0, 0, 0;
}

.message-container {
  word-wrap: break-word; /* Allow text to wrap within the container */
}

@media (prefers-color-scheme: light) {
  body {
    --foreground-rgb: var(--foreground-light-rgb);
    --background-start-rgb: var(--background-start-light-rgb);
    --background-end-rgb: var(--background-end-light-rgb);
    --input-background: #f7fafc;
    --input-text: #1a202c;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --foreground-rgb: var(--foreground-dark-rgb);
    --background-start-rgb: var(--background-start-dark-rgb);
    --background-end-rgb: var(--background-end-dark-rgb);
    --input-background: #1a202c;
    --input-text: #f7fafc;
  }
}

@layer utilities {
  .text-balance {
    overflow-wrap: break-word; /* or word-wrap: break-word; */
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set body height to cover the whole viewport */
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}